# dependencies
node_modules/

# environment files
.env
.env.production
.env.development

FitnessTracker.Backend\appsettings.Development.json
FitnessTracker.Backend\appsettings.json
FitnessTracker.Backend\appsettings.Production.json
